PyYAML==3.10
-e git+git@github.com:Netflix/aminator.git@916e270e2ad0750b6165e064c76c6035c1369b34#egg=aminator-origin/testing
argparse==1.2.1
boto==2.22.1
bunch==1.0.1
decorator==3.4.0
envoy==0.0.2
logutils==0.3.3
requests==2.2.0
simplejson==3.3.2
stevedore==0.13
wsgiref==0.1.2
